:root {
  --primary: #1e3a41;
  --white: #ffffff;
  --dark: #2c2c2c;
  --darklight: #525252;
  --glass: rgba(255, 255, 255, 0.8);
  --glassdark: rgba(44, 44, 44, 0.9);
  --bs1: 0 8px 16px 0 rgba(44, 44, 44, 0.15);
}

html {
  box-sizing: border-box !important;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  color: var(--dark);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
a:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}
ul {
  list-style: none;
}
.nav--selected {
  font-weight: 600;
}
.nav--selected::before {
  content: "•";
}
/* Font weight and style */
.thin {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
/* Border Radius */
.rounded {
  border-radius: 0.5rem;
}
.rounded-lg {
  border-radius: 1rem;
}
/* Image styling */
.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.flip-horizontally {
  transform: scaleX(-1);
}
/* Titles styling */
.title {
  font-weight: 500;
}
.title--xl {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
.title--lg {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

.title--md {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
.title--sm {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 660px;
}
.title--xtra-mg {
  margin-bottom: 2rem;
}
.title--xsm {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.title--uppercase {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
}
/* Button styles */
.btn {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  height: 3rem;
  cursor: pointer;
  position: relative;
  padding-top: 2px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 11.25rem;
  }
}
.btn--primary {
  color: var(--white);
  background-color: var(--primary);
}
.btn--outline {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}
.btn--xl {
  width: 14rem;
}
/* Section and Section Cards */
.section__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 768px) {
  .section__container {
    align-items: center;
    min-height: 600px;
  }
}
.section__container--centered {
  text-align: center;
}
.section__container--primary {
  background-color: var(--primary);
  color: var(--white);
}
.section__continer--xtra-padding {
  padding: 3rem 0;
}
.section-card__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .section-card__wrapper {
    max-width: 70rem;
  }
}
.section-card__wrapper--relative {
  position: relative;
  left: 6rem;
}
.section-card__wrapper--row {
  flex-direction: row;
}
.section-card__wrapper--column {
  flex-direction: column;
}
.section-card {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  box-shadow: var(--bs1);
  width: fit-content;
}
@media screen and (min-width: 1080px) {
  .section-card {
    padding: 3rem;
  }
}
.section-card--xl {
  flex: 3 1 0;
  width: 0;
}
.section-card--relative {
  position: relative;
  right: 8rem;
}
.section-card--bare {
  box-shadow: none;
}
.section-card--glass {
  background-color: var(--glass);
}
.section-card--white {
  background-color: var(--white);
  color: var(--dark);
}
.section-card__h4 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.section-card__text {
  font-size: 1.125rem;
  max-width: 660px;
}
.section-card__text-mgsm {
  margin-bottom: 1rem;
}
.section-card__text-mglg {
  margin-bottom: 1.5rem;
}
.section-card__text-mgxl {
  margin-bottom: 2rem;
}
.section-card__ul-wrapper {
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}
.section-card__ul {
  list-style: circle;
  padding-left: 2rem;
}

.section-card__ol {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding-left: 2rem;
  gap: 0.25rem;
}

.section__bg-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section__bg-img--filter {
  filter: brightness(30%) blur(1px);
}
.section__within-img {
  border-radius: 0.5rem;
  flex: 3 1 0;
  width: 0;
  aspect-ratio: 9 / 16;
}
.section-cta__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
}
@media screen and (min-width: 1080px) {
  .section-cta__wrapper {
    justify-content: flex-start;
    padding-left: 6rem;
  }
}
.section-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .section-cta {
    align-items: flex-start;
  }
}
/* Social Icons style */
.social-icons__wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .social-icons__wrapper {
    display: none;
  }
}
.social-icons__footer {
  display: flex;
}
.social-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.social-icon__wrapper--white {
  border: none;
  background-color: var(--white);
}
.social-icon__wrapper--dark {
  border: 1px solid var(--dark);
}
.social-icon {
  color: var(--dark);
  font-size: 0.875rem;
}

/* Testimonials Styling */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 2rem;
}
.testimonial__img-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--darklight);
  overflow: hidden;
  margin-bottom: 1rem;
}
.testimonial__text {
  max-width: 660px;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  color: var(--dark);
}
.testimonial__name {
  font-size: 0.875rem;
  color: var(--darklight);
}
/* Growth Solutions Cards Styling */
.growth-cards__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 900px) {
  .growth-cards__wrapper {
    flex-direction: row;
  }
}
.growth-card__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 22rem;
  max-width: 22rem;
  border-radius: 0.5rem;
  box-shadow: var(--bs1);
}
.growth-card__wrapper:hover {
  opacity: 0.95;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.growth-card__img {
  position: absolute;
  height: 100%;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  z-index: -1;
}
.growth-card__text-wrapper {
  background-color: var(--glassdark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  height: 10rem;
  text-align: left;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
@media screen and (min-width: 1080px) {
  .growth-card__text-wrapper {
    height: 33%;
    padding: 0 1.5rem;
  }
}
.growth-card__text-wrapper:hover {
  background-color: var(--dark);
  transition: 200ms ease-in-out;
}
.growth-card__title {
  font-size: 1.5rem;
  font-size: 500;
  margin-bottom: 0.25rem;
}
.growth-card__text {
  font-size: 1rem;
  font-weight: 400;
}
/* Form Styling */
#homepageForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #homepageForm {
    max-width: 30rem;
    align-items: flex-start;
  }
}
.form__label-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.form__label-input-wrapper--last {
  margin-bottom: 2rem;
}
.form__label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.form__label--thin {
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.form__input {
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.form__input--lg {
  height: 3rem;
  width: 100%;
}
@media screen and (min-width: 1080px) {
  .form__input--lg {
    width: 20rem;
  }
}
.form__input--sm {
  height: 2rem;
  width: 12rem;
}
.form__input--dark {
  background-color: var(--white);
  border: 1px solid var(--dark);
  color: var(--dark);
}
.form__input--dark:focus {
  border: 2px solid var(--dark);
  transition: 300ms ease-in-out;
}
.form__input--hollow {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
.form__input--hollow:focus {
  border: 2px solid var(--white);
  transition: 300ms ease-in-out;
}
.form__text-area {
  width: 20rem;
  height: 8rem;
  padding-top: 1rem;
}
/* Footer Styling */
.footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  min-height: 250px;
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 3rem;
  }
}

.footer__columns-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}
@media screen and (min-width: 768px) {
  .footer__columns-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1080px) {
  .footer__columns-wrapper {
    max-width: 70rem;
  }
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__column {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer__column--lg {
    flex: 1.5 1 0;
    width: 0;
  }
  .footer__column--sm {
    flex: 1 1 0;
    width: 0;
  }
}

.footer__hidden-mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__hidden-mobile {
    display: unset;
  }
}

.footer__copyright {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}
.footer__copyright--sm-screen {
  display: block;
  margin-top: 2rem;
}
.footer__copyright--md-screen {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__copyright--sm-screen {
    display: none;
  }
  .footer__copyright--md-screen {
    display: block;
  }
}
.footer__link--sm {
  font-size: 0.875rem;
  font-weight: 600;
}

.footer__terms-wrapper {
  display: flex;
  gap: 1rem;
}

.footer__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    margin-top: 0.5rem;
  }
}
.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.footer__text {
  font-size: 0.875rem;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__form {
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }
}
.footer__form-wrapper {
  position: relative;
  margin-top: 0.5rem;
}
.footer__form-submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 2rem;
  width: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__form-submit-btn:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}
.footer__form-icon {
  font-size: 1.25rem;
}

/* Contact PAGE Styling */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  width: 100%;
  gap: 2rem;
}
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
}
.banner__img {
  position: absolute;
  z-index: -1;
  filter: brightness(15%) blur(1px);
  height: 100%;
  top: 0;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 46rem;
  color: var(--white);
}
.banner-content--centered {
  align-items: center;
}
.banner__title {
  font-weight: 500;
}
.banner__text {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: var(--bs1);
  background-color: var(--white);
  border: 1px solid var(--dark);
  width: fit-content;
  padding: 3rem;
}
