:root {
  --primary: #1e3a41;
  --white: #ffffff;
  --dark: #2c2c2c;
  --darklight: #525252;
  --glass: rgba(255, 255, 255, 0.8);
  --glassdark: rgba(44, 44, 44, 0.9);
  --bs1: 0 8px 16px 0 rgba(44, 44, 44, 0.15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark);
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}
a:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}
ul {
  list-style: none;
}

/* Border Radius */
.rounded {
  border-radius: 0.5rem;
}
.rounded-lg {
  border-radius: 1rem;
}
/* Image styling */
.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* Titles styling */
.title {
  font-weight: 500;
}
.title--xl {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
.title--lg {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.title--md {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
.title--sm {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
.title--xsm {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
.title--uppercase {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
}
/* Button styles */
.btn {
  font-size: 1rem;
  font-weight: 500;
  border: none;
  height: 3rem;
  width: 11.25rem;
  cursor: pointer;
  position: relative;
  padding-top: 2px;
}
.btn--primary {
  color: var(--white);
  background-color: var(--primary);
}
.btn--xl {
  width: 14rem;
}
/* Section and Section Cards */
.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  position: relative;
}
.section__container--centered {
  text-align: center;
}
.section__container--primary {
  background-color: var(--primary);
  color: var(--white);
}
.section-card__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
.section-card__wrapper--row {
  flex-direction: row;
}
.section-card__wrapper--column {
  flex-direction: column;
}
.section-card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  box-shadow: var(--bs1);
  width: fit-content;
}
.section-card--glass {
  background-color: var(--glass);
}
.section-card--white {
  background-color: var(--white);
}
.section-card__text {
  font-size: 1.125rem;
  max-width: 660px;
}
.section-card__text-mgsm {
  margin-bottom: 1rem;
}
.section-card__text-mglg {
  margin-bottom: 1.5rem;
}

.section__bg-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.section__bg-img--filter {
  filter: brightness(30%) blur(1px);
}

.section-cta__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70rem;
}
.section-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
}
/* Social Icons style */
.social-icons__wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--dark);
  border-radius: 50%;
}
.social-icon {
  color: var(--dark);
  font-size: 0.875rem;
}

/* Testimonials Styling */
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 2rem;
}
.testimonial__img-wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--darklight);
  overflow: hidden;
  margin-bottom: 1rem;
}
.testimonial__text {
  max-width: 660px;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  color: var(--dark);
}
.testimonial__name {
  font-size: 0.875rem;
  color: var(--darklight);
}
/* Growth Solutions Cards Styling */
.growth-cards__wrapper {
  display: flex;
  gap: 2rem;
}
.growth-card__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  height: 22rem;
  max-width: 22rem;
  border-radius: 0.5rem;
  box-shadow: var(--bs1);
}
.growth-card__wrapper:hover {
  opacity: 0.95;
  transition: 200ms ease-in-out;
  cursor: pointer;
}
.growth-card__img {
  position: absolute;
  height: 100%;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  z-index: -1;
}
.growth-card__text-wrapper {
  background-color: var(--glassdark);
  color: var(--white);
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.5rem;
  text-align: left;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.growth-card__text-wrapper:hover {
  background-color: var(--dark);
  transition: 200ms ease-in-out;
}
.growth-card__title {
  font-size: 1.5rem;
  font-size: 500;
  margin-bottom: 0.25rem;
}
.growth-card__text {
  font-size: 1rem;
  font-weight: 400;
}
/* Form Styling */
.form__label-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form__label-input-wrapper--last {
  margin-bottom: 2rem;
}
.form__label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.form__input {
  height: 3rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.form__input--hollow {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
.form__input--hollow:focus {
  border: 2px solid var(--white);
  transition: 300ms ease-in-out;
}
