.header {
  display: flex;
  align-items: center;
}

.header__logo {
  font-size: 2rem;
  flex: 1 1 0;
  width: 0;
  text-align: left;
}

.nav__main {
  flex: 2 1 0;
  width: 0;
}
.nav__ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.nav__link {
  font-size: 1rem;
  font-weight: 500;
}

.social__icons {
  flex: 1 1 0;
  width: 0;
}
