.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  position: relative;
}
.signature {
  width: 10rem;
  height: 100%;
}

.section__wrapper {
  width: 100%;
  max-width: 70rem;
  padding-left: 6rem;
}
