.hero__wrapper {
}
.signature {
  width: 10rem;
  height: 100%;
}

.section__wrapper {
  padding-left: 6rem;
}
.about__img {
  width: 32rem;
  aspect-ratio: 1 / 1;
}
.aboutcard__wrapper {
  position: relative;
  left: 6rem;
}
.about__card {
  position: relative;
  right: 6rem;
}
